.input-change {
    border: 1px solid black;
    width: 10vw;
    text-align: center;
    margin: 0px
}

ion-button {
    height: 50px;
}

.icon-add {
    margin-right: 0;
}

.icon-remove {
    margin-left: 0;
}

.label {
    position: absolute;
    top: 35%
}

ion-grid ion-label {
    font-size: 4vw;
}