<ion-content class="ion-no-padding">
  <ion-item class="ion-no-margin ion-no-padding">
    <ion-label class="ion-text-center">Updating Database. {{loaderPer}}%</ion-label>
  </ion-item>
  <ion-progress-bar [value]='loader' color="primary"></ion-progress-bar>
  <ion-item class="ion-no-margin ion-no-padding">
    <ion-label class="ion-text-center">Estimated Time: {{loadingMin}}:{{loadingSec}}</ion-label>
  </ion-item>
</ion-content>
