<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Performance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" style="--background: rgba(0, 0, 0, 0.04);">
  <ion-item class="ion-no-margin ion-no-padding">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-button
            (click)="onPhyClick()"
            expand="block"
            [fill]="phySelected ? 'solid' : 'outline'"
            color="danger"
          >
            Physics
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="onChemClick()"
            expand="block"
            [fill]="chemSelected ? 'solid' : 'outline'"
            color="danger"
          >
            Chemistry
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="onBiologyClick()"
            expand="block"
            [fill]="biologySelected ? 'solid' : 'outline'"
            color="danger"
          >
            Biology
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="onPCBClick()"
            expand="block"
            [fill]="pcbSelected ? 'solid' : 'outline'"
            color="danger"
          >
            PCB
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="onQueClick()"
            expand="block"
            [fill]="queSelected ? 'solid' : 'outline'"
            color="danger"
          >
            Question Papers
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <canvas [hidden]="selectedSubject != 'Physics'" #lineChartPhy></canvas>
      <canvas [hidden]="selectedSubject != 'Chemistry'" #lineChartChem></canvas>
      <canvas
        [hidden]="selectedSubject != 'Biology'"
        #lineChartBiology
      ></canvas>
      <canvas [hidden]="selectedSubject != 'PCB'" #lineChartPCB></canvas>
      <canvas [hidden]="selectedSubject != 'NEET'" #lineChartQue></canvas>
    </ion-card-content>
  </ion-card>
  <ion-text
    color="danger"
    *ngIf="(selectedSubject == 'Physics' || selectedSubject == 'Chemistry' ||selectedSubject == 'Biology') && testDetails.length == 0"
  >
    You haven't given {{selectedSubject}} test yet...
  </ion-text>
  <ion-text
    color="danger"
    *ngIf="selectedSubject == 'PCB' && testDetails.length == 0"
  >
    You haven't given group test yet...
  </ion-text>
  <ion-text
    color="danger"
    *ngIf="selectedSubject == 'NEET' && testDetails.length == 0"
  >
    You haven't solved question paper yet...
  </ion-text>
</ion-content>
