<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title *ngIf="chapters.length == 1">Chapterwise</ion-title>
    <ion-title *ngIf="chapters.length > 1">Unitwise</ion-title> -->
    <ion-title>{{ test }}</ion-title>
    <ion-button
      (click)="onClose()"
      fill="clear"
      color="light"
      slot="end"
      class="ion-margin-end"
    >
      Close
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{ subjectName }}: </ion-label>
    <ion-label *ngIf="chapters.length == 1" class="ion-text-wrap">{{
      chapterNames[0].chapterName
    }}</ion-label>
    <ion-label
      *ngIf="chapters.length > 1"
      class="ion-text-wrap"
      (click)="showChapters($event)"
      >Selected Chapters:
      <ion-text style="text-decoration: underline;" color="primary">
        {{ chapterNames.length }}
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <!-- <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="onAutoClick()" expand="block" [fill]="testType == 'automatic' ? 'solid' : 'outline'"
            color="warning" size="default">
            Automatic
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="onManualClick()" expand="block" [fill]="testType == 'manual' ? 'solid' : 'outline'"
            color="danger" size="default">
            Manual
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-segment
      mode="ios"
      [(ngModel)]="testType"
      (ionChange)="onTestTypeChange()"
    >
      <ion-segment-button value="automatic">
        <ion-label>Automatic</ion-label>
      </ion-segment-button>
      <ion-segment-button value="manual">
        <ion-label>Manual</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>

  <ion-item class="item" lines="none" *ngIf="testType == 'manual'">
    <!-- <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row>
        <ion-col size="3">
          <ion-button (click)="on1Click()" class="ion-text-wrap" expand="block" [fill]=buttonStyle1 color="warning"
            size="default">
            LevelWise
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="on2Click()" class="ion-text-wrap" expand="block" [fill]=buttonStyle2 color="success"
            size="default">
            TypeWise
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="on3Click()" class="ion-text-wrap" expand="block" [fill]=buttonStyle3 color="tertiary"
            size="default">
            Attempted Wise
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="on4Click()" class="ion-text-wrap" expand="block" [fill]=buttonStyle4 color="danger"
            size="default">
            Prev AskWise
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-segment mode="ios" scrollable="true" [(ngModel)]="manualType" (ionChange)="onManualTypeChanged()">
      <ion-segment-button value="level">
        <ion-label>Level</ion-label>
      </ion-segment-button>
      <ion-segment-button value="type">
        <ion-label>Type</ion-label>
      </ion-segment-button>
      <ion-segment-button style="min-width: 28%;" value="attempt">
        <ion-label>Attempted</ion-label>
      </ion-segment-button>
      <ion-segment-button style="min-width: 35%;" value="prevAsk">
        <ion-label>Previously Ask</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="incorrect">
        <ion-label>Incorrect</ion-label>
      </ion-segment-button> -->
      <!-- <ion-segment-button value="incorrect1">
        <ion-label>Incorrect</ion-label>
      </ion-segment-button>
      <ion-segment-button value="incorrect2">
        <ion-label>Incorrect</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </ion-item>

  <ion-item
    lines="none"
    class="ion-no-margin ion-no-padding"
    *ngIf="manualType == 'level' && testType == 'manual'"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="6" push="2">
          <ion-label class="label"
            >Easy({{ questionsCountForManual.easy }})</ion-label
          >
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-icon
              class="icon-add"
              name="add"
              slot="start"
              (click)="onEasyUp()"
              (press)="onEasyUpPress()"
              (pressup)="onPressup()"
            ></ion-icon>
            <ion-input
              type="number"
              [(ngModel)]="cntManual.cntEasy"
              (ionChange)="onChange()"
            ></ion-input>
            <ion-icon
              class="icon-remove"
              name="remove"
              slot="end"
              (click)="onEasyDown()"
                (press)="onEasyDownPress()"
              (pressup)="onPressup()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" push="2">
          <ion-label class="label"
            >Medium({{ questionsCountForManual.medium }})</ion-label
          >
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-icon
              class="icon-add"
              name="add"
              slot="start"
              (click)="onMediumUp()"
              (press)="onMediumUpPress()"
              (pressup)="onPressup()"
            ></ion-icon>
            <ion-input
              type="number"
              [(ngModel)]="cntManual.cntMedium"
              (ionChange)="onChange()"
            ></ion-input>
            <ion-icon
              class="icon-remove"
              name="remove"
              slot="end"
              (click)="onMediumDown()"
              (press)="onMediumDownPress()"
              (pressup)="onPressup()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" push="2">
          <ion-label class="label"
            >Hard({{ questionsCountForManual.hard }})</ion-label
          >
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-icon
              class="icon-add"
              name="add"
              slot="start"
              (click)="onHardUp()"
              (press)="onHardUpPress()"
              (pressup)="onPressup()"
            ></ion-icon>
            <ion-input
              type="number"
              [(ngModel)]="cntManual.cntHard"
              (ionChange)="onChange()"
            ></ion-input>
            <ion-icon
              class="icon-remove"
              name="remove"
              slot="end"
              (click)="onHardDown()"
              (press)="onHardDownPress()"
              (pressup)="onPressup()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item
    lines="none"
    class="ion-no-margin ion-no-padding"
    *ngIf="manualType == 'type' && testType == 'manual'"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="6" push="2">
          <ion-label class="label"
            >Numerical({{ questionsCountForManual.numerical }})</ion-label
          >
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-icon
              class="icon-add"
              name="add"
              slot="start"
              (click)="onNumUp()"
              (press)="onNumUpPress()"
              (pressup)="onPressup()"
            ></ion-icon>
            <ion-input
              type="number"
              [(ngModel)]="cntManual.cntNum"
              (ionChange)="onChange()"
            ></ion-input>
            <ion-icon
              class="icon-remove"
              name="remove"
              slot="end"
              (click)="onNumDown()"
              (press)="onNumDownPress()"
              (pressup)="onPressup()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" push="2">
          <ion-label class="label"
            >Theoretical({{ questionsCountForManual.theory }})</ion-label
          >
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-icon
              class="icon-add"
              name="add"
              slot="start"
              (click)="onTheoryUp()"
              (press)="onTheoryUpPress()"
              (pressup)="onPressup()"
            ></ion-icon>
            <ion-input
              type="number"
              [(ngModel)]="cntManual.cntTheory"
              (ionChange)="onChange()"
            ></ion-input>
            <ion-icon
              class="icon-remove"
              name="remove"
              slot="end"
              (click)="onTheoryDown()"
              (press)="onTheoryDownPress()"
              (pressup)="onPressup()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item
    lines="none"
    class="ion-no-margin ion-no-padding"
    *ngIf="manualType == 'attempt' && testType == 'manual'"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="6" push="1">
          <ion-label class="label"
            >Non Attempted({{
              questionsCountForManual.nonAttempted
            }})</ion-label
          >
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-icon
              class="icon-add"
              name="add"
              slot="start"
              (click)="onNonAttUp()"
              (press)="onNonAttUpPress()"
              (pressup)="onPressup()"
            ></ion-icon>
            <ion-input
              type="number"
              [(ngModel)]="cntManual.cntNonAtt"
              (ionChange)="onChange()"
            ></ion-input>
            <ion-icon
              class="icon-remove"
              name="remove"
              slot="end"
              (click)="onNonAttDown()"
              (press)="onNonAttDownPress()"
              (pressup)="onPressup()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" push="2">
          <ion-label class="label"
            >Attempted ({{ questionsCountForManual.attempted }})</ion-label
          >
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-icon
              class="icon-add"
              name="add"
              slot="start"
              (click)="onAttUp()"
              (press)="onAttUpPress()"
              (pressup)="onPressup()"
            ></ion-icon>
            <ion-input
              type="number"
              [(ngModel)]="cntManual.cntAtt"
              (ionChange)="onChange()"
            ></ion-input>
            <ion-icon
              class="icon-remove"
              name="remove"
              slot="end"
              (click)="onAttDown()"
              (press)="onAttDownPress()"
              (pressup)="onPressup()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item
    lines="none"
    class="ion-no-margin ion-no-padding"
    *ngIf="manualType == 'prevAsk' && testType == 'manual'"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="6" push="2">
          <ion-label class="label"
            >Prev Ask({{ questionsCountForManual.prevAsk }})</ion-label
          >
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-icon
              class="icon-add"
              name="add"
              slot="start"
              (click)="onPrevAskUp()"
              (press)="onPrevAskUpPress()"
              (pressup)="onPressup()"
            ></ion-icon>
            <ion-input
              type="number"
              [(ngModel)]="cntManual.cntPrevAsk"
              (ionChange)="onChange()"
            ></ion-input>
            <ion-icon
              class="icon-remove"
              name="remove"
              slot="end"
              (click)="onPrevAskDown()"
              (press)="onPrevAskDownPress()"
              (pressup)="onPressup()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <!-- <ion-item
    lines="none"
    class="ion-no-margin ion-no-padding"
    *ngIf="manualType == 'incorrect' && testType == 'manual'"
  >
  </ion-item> -->

  <ion-item lines="none">
    <ion-icon
      name="ellipsis-vertical-outline"
      slot="end"
      size="large"
      (click)="onIconClick()"
    ></ion-icon>
    <ion-label>Test Summary</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Total Questions: </ion-label>
    <ion-label *ngIf="testType == 'automatic'">{{ defaultSettings.questionCount }}</ion-label>
    <ion-label *ngIf="testType == 'manual'">{{ manualQuestionCount }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Total Time: </ion-label>
    <ion-label>{{ defaultSettings.time }} minutes</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Correct: </ion-label>
    <ion-label>{{ defaultSettings.correctMarks }} marks</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Incorrect: </ion-label>
    <ion-label>
      <ion-text *ngIf="defaultSettings.inCorrectMarks > 0">
        -
      </ion-text>
      {{ defaultSettings.inCorrectMarks }} mark
    </ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button color="success" fill="solid" size="default" expand="block" (click)="startTest()"
            [disabled]="testType == 'automatic' ? false : true"> Start Test </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item> -->

  <ion-item
    lines="none"
    class="ion-text-center"
    *ngIf="this.defaultSettings.inCorrectMarks > 0"
  >
    <ion-label>
      <ion-text color="danger">
        Negative Marking
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button
      color="primary"
      (click)="startTest()"
      class="ion-margin-end"
      size="default"
      [disabled]="defaultSettings.questionCount <= 0"
    >
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
