ion-content {
  --background: rgba(0,0,0,0.04);
}

.div {
  margin: 0px;
  position: relative;
  top: 0%;
  background: var(--ion-color-primary);
  width: 100%;
  height: 48vw;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

.menuButton {
  position: absolute;
  left: 10%
}

.greetings {
  color: white;
  position: absolute;
  top: 20%;
  left: 13%
}

.avatar {
  position: absolute;
  top: 20%;
  right: 13%;
  height: 45px;
    width: 45px;
    --border-radius: 100%;
}

.cardAccuracy {
  position: absolute;
  top: 62%;
  left: 8%;
  height:26vw;
  width: 35vw;
  --background: lightcyan;
  border-radius: 10px;
}

.cardAccuracy ion-icon {
  margin-left: 20px;
  margin-top: 17px;
  color: black;
  font-size: 5vw;
}

.cardAccuracy ion-text {
  color: black;
  margin-left: 9px;
  font-size: 3vw;
}

.cardAccuracy h1 {
  font-size: 5vw;
  padding: 0;
  margin: 0;
  margin-top: 3vw;
  margin-left: 20px;
  color: black;
}

.cardAccuracy p {
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 20px;
  color: black;
  font-size: 3vw;
}
 
.cardLastTest {
  position: absolute;
  top: 62%;
  right: 8%;
  height: 26vw;
  width: 35vw;
  --background: navajowhite;
  border-radius: 10px;
}

.cardLastTest ion-icon {
  margin-left: 20px;
  margin-top: 17px;
  color: black;
  font-size: 5vw;
}

.cardLastTest ion-text {
  color: black;
  margin-left: 9px;
  font-size: 3vw;
}

.cardLastTest h1 {
  font-size: 5vw;
  padding: 0;
  margin: 0;
  margin-top: 3vw;
  margin-left: 15px;
  color: black;
}

.cardLastTest p {
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 15px;
  color: black;
  font-size: 3vw;
  text-transform: lowercase;
  text-transform: capitalize;
}


.subWiseAnalysis {
  padding: 0;
  margin-top: 12vw;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.subWiseAnalysis ion-card {
  margin: 0;
  margin-top: 10px;
  width: 100%;
  height: 16vw;
  border-radius: 10px;
  }

  .subWiseAnalysis ion-card ion-item {
    height: 10vw
  }

.subWiseAnalysis ion-progress-bar {
  margin: 0;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  width: 90%;
  height: 5px;
  --progress-background: var(--ion-color-success);

}

.subWiseAnalysis .subjectName {
  font-weight: 500;
  font-size: 4vw;
  color: black;
}

.subWiseAnalysis .questionCount {
  font-size: small;
}

.testRank {
  margin-top: 3vw;
  margin-left: 10%;
  width: 80%;
}

.worstTest {
  margin-left: 5px;
  border-radius: 10px;
}

.bestTest {
  margin-right: 5px;
  border-radius: 10px;
}

.testRank-item {
  height: 9vw;
  align-items: baseline;
}

.testRank-item ion-label {
  font-size: 4vw;
  margin: 0;
  margin-top: 9px;
}

.testRank-marks {
  font-size: 4.5vw;
  height: 7vw;
  font-weight: 500;
  justify-content: baseline;
  align-items: baseline;
}

.testRank-testType {
  font-size: 3vw;
  align-items: baseline;
  height: 6vw;
}

.distributer {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 7%;
  color: white;
  transform: translateX(-50%);
}